/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.navbar-mc {
  height: 50px;
  background-color: #272822;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  color: #FFF;
}

.navbar-mc i, a, p {
  color: #F10091;
}

i {
  color: $orange;
}

body {
  // background-color: #000;
}
